.slideshow{
    height: 600px;
    width: 100%;
    top: 50px;
    margin-top: 5px;
    background-image:url('img3.jpg');
    background-size: cover;
    display: flex;
    justify-content: start;
    align-items: end;
    color: white;
}
.slideshow div{
    background-color: #1F7196;
    box-shadow: 2px 2px 5px 1px black;
    height: 100px;
    width: 350px;
    margin: 0 0 70px 50px;
    padding: 10px;
    border-radius: 3px;
} 
.slideshow div button{
    height: 40px;
    width: auto;
    border-radius: 5px;
    background-color: #1F7196;
    color: white;
    padding: 0 10px 0 10px;
    margin: 25px 0 0 200px;
    box-shadow: 2px 2px 5px 1px black;
}
.slideshow div button:hover{
    background-color: #1f5c78;
}